{{- define "main" }}
  {{/* start  bloggraph/layouts/publications/publications.html  */}}
  {{/*  {{ $.Page.Params }}  */}}
  {{ $title := $.Page.Title }}
  {{ $date := $.Page.Date }}
  {{ $description := index $.Page.Params "summary" }}
  {{ $authors := index $.Page.Params "authors" }}
  {{ $venue := index $.Page.Params "venue" }}
  {{ $notes := index $.Page.Params "notes" }}
  {{ $thumb := index $.Page.Params "thumbnail" }}

  {{ $date := time.AsTime $date }}
  {{ $format := "2 Jan 2006" }}

  <div class="publication-info">
    <h1 style="margin-bottom: 0px;">{{ $title }}</h1> - {{ $date.Format "Jan 02, 2006"  }} <img class="expandable" src="{{ $thumb }}">

    {{ with $venue }}
    <h5 style="margin-top: 0;"><a href={{ index . "url" }}></a>{{ index . "name" }}</a></h5>
    {{ end }}

    <div class="authors header-font">
      {{ range $index, $author := $authors }}
        {{ $fullname := split (index $author "name") ", " }}
        {{ $lastname := index $fullname 0 }}
        {{ $firstname := index $fullname 1 }}
        {{ $url := index $author "url" }}
        {{ $affl := index $author "affiliations"}}
        {{ $notes := index $author "notes"}}
        {{ $numAffl := len $affl }}

        <div class="author-info">

          <a class="author-name" href="{{ with $url }} {{ $url }} {{ end }}" >{{ $firstname }} {{ $lastname }}
          {{- range $noteIndex := (index $author "notes") -}}
            {{- $noteSymbol := (index (slice "*" "^") (sub $noteIndex 1)) -}}
            {{- $noteSymbol -}}
          {{- end -}}
          </a>


        </div>
      {{ end }}
      <div class="author-notes pale">
      {{ range $index, $note := $notes }}
        {{- $noteSymbol := (index (slice "*" "^") $index) -}}
        <span>{{- $noteSymbol -}}{{- $note -}}</span>
      {{ end }}
      </div>
    </div>

    {{ with $description }}
    <p style="margin-top: 1em;"><em>{{ . }}</em></p>
    {{ end }}
  </div >

  {{ .Content }}

  {{/*  {{- $publicationList := where .Site.Pages "Type" "publications" }}
  {{- $publicationList = where $publicationList "Kind" "page" }}

  <div class="pub-list">
  {{ range sort $publicationList "Date" "desc" }}
    {{ partial "publication-overview" . }}
  {{ end }}
  </div>  */}}

  {{/* end  bloggraph/layouts/publications/publications.html  */}}
{{- end }}

